{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/frame.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  <div class="c-color-palette o-flex-grid o-flex-grid--gutters o-flex-grid--full o-flex-grid@md--1">
    <div class="o-flex-grid__cell">
      <i class="c-color-palette-drop" style="background: #000;"></i>
      <span class="c-color-palette-name">c-colour-name</span>
      <span class="c-color-palette-code">#000</span>
    </div>
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
