{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/frame.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  <h1 class="u-canon">Heading 1 Canon</h1>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <p class="u-canon">Canon</p>
  <p class="u-trafalgar">Trafalgar</p>
  <p class="u-double-pica">Double Pica</p>
  <p class="u-great-primer">Great Primer</p>
  <p class="u-pica">Pica</p>
  <p class="u-long-primer">Long Primer</p>
  <p class="u-nrevier">Brevier</p>
  <p class="u-minion">Minion</p>

  <p>Paragraph with a <a href="#">link</a>.</p>

  <ul>
    <li>Unordered list</li>
    <li>Unordered list</li>
    <li>Unordered list</li>
  </ul>

  <ol>
    <li>Ordered list</li>
    <li>Ordered list</li>
    <li>Ordered list</li>
  </ol>

  <table class="c-table">
    <caption>Table caption</caption>
    <thead>
      <tr>
        <th>Table head</th>
        <th>Table head</th>
        <th>Table head</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table body - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td>Table body - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td>Table body - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      </tr>
      <tr>
        <td>Table body - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td>Table body - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td>Table body - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      </tr>
    </tbody>
  </table>

  <p><a class="c-button c-button--primary c-button--lg">Large Primary Button</a></p>

  <p><a class="c-button c-button--primary">Primary Button</a></p>

  <p><a class="c-button c-button--primary c-button--sm">Small Primary Button</a></p>

  <p><a class="c-button c-button--secondary">Secondary Button</a></p>

  <p><a class="c-button c-button--tertiary">Tertiary Button</a></p>

{% endblock %}

{% block javascript %}
{% endblock %}
