{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  <div class="c-pattern__box">
    <div class="c-pattern__heading">
      <h1>Pattern lab</h1>
    </div>
    <div class="c-pattern__lab">

      <h2>Useful Links</h2>

      <ul>
        <li><a href="https://jaywing.github.io/atomic-framework/docs/" target="_blank">Atomic documentation</a></li>
      </ul>

      <h2>Layouts</h2>

      <ul>
        <li><a href="/pattern-lab/layouts/layout-basic.html">Basic layout</a></li>
      </ul>

      <h2>Pages</h2>

      <ul>
        <li><a href="/pattern-lab/pages/home.html">Home page</a></li>
        <li><a href="/pattern-lab/pages/generic.html">Generic page</a></li>
      </ul>

    </div>
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
