$c-uop-black: #222;
$c-uop-offwhite: #c5c5c5;

body {
  background: $c-light-15;
}

.o-Site-content {
  height: 100%;
  padding: 0 !important;

  &::after {
    display: none;
  }
}

.Pattern {
  height: 100%;

  > .o-Grid-cell {
    height: 100%;
  }

  article {
    background: $c-light;
  }
}

.Pattern-box {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}

.Pattern-heading {
  flex: 0 1 auto;
  padding: $g-spacer;
  background: $c-primary;
  color: $c-light;
}

.Pattern-lab {
  flex: 1 1 auto;
  height: 100%;
  padding: $g-spacer;
}

.Pattern-frame {
  width: 100%;
  height: 50%;
  padding: $g-spacer;
  border: 1px solid $c-light-15;
}

.Pattern-frame--100 {
  height: 70%;
}

.NavPage {
  height: 100%;
  overflow-y: auto;

  .Menu {
    margin: 0;
    padding-left: $g-spacer-sm;
  }

  .Menu-link {
    padding: $g-spacer-sm $g-spacer;

    &.Text--disabled {
      color: $c-dark !important;
    }
  }
}

.NavPage-title {
  margin: 0;
  padding: $g-spacer;
}
