{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/pattern-lab.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  {# {% include 'components/navigation/breadcrumbs.njk' %} #}

{% endblock %}

{% block javascript %}
{% endblock %}
