{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  <div class="c-pattern__box">
    <div class="c-pattern__heading">
      <h1>Color Palette</h1>
    </div>
    <div class="c-pattern__lab">
        <div class="o-flex-grid o-flex-grid--gutters o-flex-grid--1of3">
          <div class="o-flex-grid__cell">
            <b class="c-pattern-colour" style="background: #000;"></b>
            <p>$black</p>
            <p>#000</p>
          </div>
          <div class="o-flex-grid__cell">
            <b class="c-pattern-colour" style="background: #e524b5;"></b>
            <p>$cerise</p>
            <p>#e524b5</p>
          </div>
        </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
