$c-uop-black: #222;
$c-uop-offwhite: #c5c5c5;

body {
    background: $c-light-15;
}

.o-site__content {
    height: 100%;
    padding: 0 !important;

    &::after {
        display: none;
    }
}

.c-pattern {
    height: 100%;

    > .o-Grid-cell {
        height: 100%;
    }

    article {
        background: $c-light;
    }
}

.c-pattern__box {
    display: flex;
    height: 100%;
    flex-flow: column;
    align-items: stretch;
}

.c-pattern__heading {
    flex: 0 1 auto;
    padding: $g-spacer;
    background: $c-primary;
    color: $c-light;
}

.c-pattern__lab {
    height: 100%;
    flex: 1 1 auto;
    padding: $g-spacer;
}

.c-pattern__frame {
    width: 100%;
    height: 100%;
    padding: $g-spacer;
    border: 1px solid $c-light-15;
}

.c-pattern-colour {
    display: block;
    width: 100%;
    height: 3rem;
}

.c-nav-page {
    height: 100%;
    overflow-y: auto;

    .c-menu {
        padding-left: $g-spacer-sm;
        margin: 0;
    }

    .c-menu__link {
        padding: $g-spacer-sm $g-spacer;

        &.text--disabled {
            color: $c-dark !important;
        }
    }
}

.c-nav-page__title {
    padding: $g-spacer;
    margin: 0;
}
