{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/pattern-lab.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  <div class="Accolade o-Grid o-Grid--gutters o-GridSm--1of2 o-GridMd--1of4">
    {# {% include 'components/global/footer.njk' %} #}
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
