{# Sitecore Rendering: Uop.Web\Views\Shared\Content.cshtml #}

{% set pageId = 'index' %}

{% extends 'layouts/master.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block header %}
  <header class="o-site__header">
    {% block pageHead %}{% endblock %}
    <div class="c-site-logo">
      <a href="/"><img src="/assets/images/jaywing-logo.png" alt=""></a>
    </div>
    {% include 'shared/main-nav.njk' %}
  </header>
{% endblock %}

{% block main %}
  <main id="content" class="o-site__content">
    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
  <footer class="o-site__footer">
    <div class="o-container o-container--centered">
      <p>&copy; <u id="copyright-year">{{ author.createdYear }}</u> - {{ author.footerText }} <a href="{{ author.url }}">{{ author.name }}</a></p>
    </div>
  </footer>
{% endblock %}

{% block javascript %}
{% endblock %}
