{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  <div class="c-pattern__box">
    <div class="c-pattern__heading">
      <h1>Breadcrumbs</h1>
    </div>
    <div class="c-pattern__lab">
      <iframe class="c-pattern__frame c-pattern__frame--100" src="/_patternlab/common/content/breadcrumbs.html"></iframe>
    </div>
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
