{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/application.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  <div class="Pattern-box">
    <div class="Pattern-heading">
      <h1>Form</h1>
    </div>
    <div class="Pattern-lab">
      <iframe class="Pattern-frame Pattern-frame--100" src="/docs/style-guide/content/forms.html"></iframe>
    </div>
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
