{% from 'macros/menu.njk' import MenuLink, MenuHeader %}
{% from 'macros/toggle-button.njk' import ToggleButton %}

    <div class="c-nav-main">
      <div class="o-container o-container--centered">
        <nav class="c-nav-responsive c-nav-responsive@sm">

          {{ ToggleButton('parent')}}

          <ul class="c-menu c-menu--vertical c-menu@sm">

            {{ MenuHeader('Atomic', 'index.html', 'c-menu__item--left c-menu__item--flush') }}

            {% for page in pages %}
              {{ MenuLink(page.id, page.title, page.url, pageId, '') }}
            {% endfor %}

          </ul>
        </nav>
      </div>
    </div>
