{% from 'macros/icon.njk' import Icon %}

{% macro navItems(model) %}
  <ul class="Menu Menu--vertical">
    {% for child in model %}
      {{ navItem(child) }}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro navItem(model)%}
  {% if model.children %}
  <li class="Menu-item Menu-item--hasChildren">
    {% if model.disabled %}
    <a class="Menu-link Text--disabled">
      {{model.title}}
    </a>
    {% else %}
    <a href="{{model.url}}" class="Menu-link">
      {{model.title}}
    </a>
    {% endif %}
    <div class="Menu-child Menu-child--section">
      {{ navItems(model.children) }}
    </div>
  </li>
  {% else %}
  <li class="Menu-item">
    {% if model.disabled %}
    <a class="Menu-link Text--disabled">
      {{model.title}}
    </a>
    {% else %}
    <a href="{{model.url}}" class="Menu-link">
      {{model.title}}
    </a>
    {% endif %}
  </li>
  {% endif %}
{% endmacro %}

{% macro PageSection(model) %}
<div class="NavPage">
    <h2 class="NavPage-title">
      <a href="/docs/">{{model.title}}</a>
    </h2>
    <nav role="navigation">
      <ul class="Menu Menu--vertical">
        {% for child in model.children %}
          {{ navItem(child) }}
        {% endfor %}
      </ul>
    </nav>
</div>
{% endmacro %}
