{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% set pageId = 'index' %}

{% extends 'layouts/pattern-lab.njk' %}

{% block metaTitle %}{{ metaTitle }}{% endblock %}

{% block content %}

  <div class="ColorPalette o-Grid o-Grid--gutters o-Grid--full o-GridMd--1of4">
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #3c023c;"></i>
      <span class="ColorPalette-name">$c-uop-dark-purple</span>
      <span class="ColorPalette-code">#3c023c</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #621360;"></i>
      <span class="ColorPalette-name">$c-uop-purple</span>
      <span class="ColorPalette-code">#621360</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #0070B2;"></i>
      <span class="ColorPalette-name">$c-uop-dark-blue</span>
      <span class="ColorPalette-code">#0070B2</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #00a0ff;"></i>
      <span class="ColorPalette-name">$c-uop-blue</span>
      <span class="ColorPalette-code">#00a0ff</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #505457;"></i>
      <span class="ColorPalette-name">$c-uop-dark-grey</span>
      <span class="ColorPalette-code">#505457</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #abaaaa;"></i>
      <span class="ColorPalette-name">$c-uop-grey</span>
      <span class="ColorPalette-code">#abaaaa</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #d1d1d1;"></i>
      <span class="ColorPalette-name">$c-uop-light-grey</span>
      <span class="ColorPalette-code">#d1d1d1</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #e5007e;"></i>
      <span class="ColorPalette-name">$c-uop-pink</span>
      <span class="ColorPalette-code">#e5007e</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #76be2a;"></i>
      <span class="ColorPalette-name">$c-uop-lime</span>
      <span class="ColorPalette-code">#76be2a</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #e17300;"></i>
      <span class="ColorPalette-name">$c-uop-orange</span>
      <span class="ColorPalette-code">#e17300</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #c4014b;"></i>
      <span class="ColorPalette-name">$c-uop-cerise</span>
      <span class="ColorPalette-code">#c4014b</span>
    </div>
    <div class="o-Grid-cell">
      <i class="ColorPalette-drop" style="background: #00b482;"></i>
      <span class="ColorPalette-name">$c-uop-mint</span>
      <span class="ColorPalette-code">#00b482</span>
    </div>
  </div>

{% endblock %}

{% block javascript %}
{% endblock %}
